*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'popons', sans-serif;
    background-color: rgb(27,27,27);
    overflow-x: hidden;
}

.header{
    height: 90vh;
    position: relative;
}

.navbar{
    height: 110px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 10;
    position: fixed;
}

.navbar-box{
  font-family: Georgia, sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  color: white;
  align-items: center;

}


.heading-tertiary{
    font-size: 3.5rem;
}

.navbar-list{
    list-style: none;
    font-size: 2rem;
}

.navbar-item{
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link{
    text-decoration: none;
    color: white;
    padding: 3rem;
    transition: all .2s ease;
}

.navbar-link:hover{
    background-color: #da6b1d;
    color: white;
}

.navbar-link-book:visited,
.navbar-link-book:link{
    text-decoration: none;
    color: white;
    padding: 2rem 3.5rem;
    border: 1px solid #da6b1d;
    border-radius: 200px;
    box-shadow: 0 0 1rem rgba(236, 118, 40, .5);
    text-shadow: 0 .3rem 1rem rgba(255,255,255, .5);
    transition: all .4s ease;
}

.navbar-link-book:hover{
    background-color: #da6b1d;
    color: white;
}

.toggle{
    height: 5rem;
    width: 5rem;
    display: none;
}

.toggle div{
    height: 4px;
    width: 100%;
    background-color: white;
    margin: 1rem;
}

.header-container{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
}
.header-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.heading-primary{
    font-size: 6.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.cafe{
    color: #da6b1d;
    font-weight: 800;
    font-size: 8rem;
}

.lead{
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 4px;
}

.book-now:visited,
.book-now:link{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 2rem;
    padding: 2rem;
    margin-top: 4rem;
    border: 1px solid white;

    border-radius: 100px;
    transition: all .3s ease;
    box-shadow: 0 1rem 1rem rgba(240,107,55, .1);
    text-shadow: 0 1rem 1rem rgba(0,0,0,.6);
}

.book-now:hover{
    background-color: #da6b1d;
    border: 1px solid white;
    box-shadow: 0 0 2rem rgba(240,107,55, .8);
}

/* MENU */

.menu{
    width: 100%;
    padding: 10rem 5rem;
    background-image: linear-gradient(to right bottom, rgb(255, 81, 0), rgba(255,0,0,.5));
}

.menu-heading{
    font-size: 12rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0,0,0,.9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

.menu-grid{
    display: grid;
    grid-template-rows:repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}

.heading-secondary{
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.menu-imga{
  position:static;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://www.netmeds.com/images/cms/wysiwyg/blog/Post/2018/10/coffee_its_benefits_898_1_.jpg");
}
.menu-imgb{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://www.caffesociety.co.uk/assets/recipe-images/latte-small.jpg");
}
.menu-imgc{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://www.starbucks.com.au/imagecache/bestfit/750x750/_files/New-Website---Coffee/flatwhite-2-.jpg");
}
.menu-imgd{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://www.occasionallyeggs.com/wp-content/uploads/2020/12/Dairy-Free-Hot-Chocolate-2-720x540.jpg");
}
.menu-imge{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://cdn-rdb.arla.com/Files/arla-uk/1943769649/d8ddced6-5a07-48e0-aa2e-33ab3766fe6c.jpg?mode=crop&w=375&h=265&ak=629ae667&hm=f3c7603c");
}
.menu-imgf{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a5/Tazzina_di_caff%C3%A8_a_Ventimiglia.jpg");
}
.menu-imgg{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://www.modernhoney.com/wp-content/uploads/2018/09/Healthy-Juice-Cleanse-Recipes-1.jpg");
}
.menu-imgh{
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: left;
     background-image: url("https://img.taste.com.au/mVWcTMCW/w1200-h630-cfill/taste/2020/01/jan20_easy-berry-smoothie-taste-156331-1.jpg");
}

.menu-container{
    width: 100%;
    height: 50rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transition: all .4s ease;
}

.menu-container:hover{
    box-shadow: 0 0 5rem rgba(0,0,0,.4);
    transform: scale(1.07);
}

.menu-p{
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.menu-title{
    font-size: 3rem;
    text-align: center;
}

.price{
    font-size: 3rem;
    margin-top: 1rem;
    text-align: center;
    color: rgb(218, 107, 29);
    text-shadow: 0 .4rem 2rem rgba(0,0,0,.4);
}
/* Navigation Section Contact US */

.nav_sec{
	width: 1000px;
	height: 80px;
	background-image:linear-gradient( rgb(218, 107, 29) , black);
}

.nav_sec ul{
	float: left;

}

.nav_sec li{
	margin-left: -7px;
	float: left;
	list-style: none;
	padding: 8px 100px 0px 50px;
	font-family: sans-serif;
	font-size: 30px;
}

.nav_sec a{
	text-decoration: none;
	color: white;
}

/* Index_body Section */

.h2{
	padding: 50px 25px 0px 25px;
	font-family: sans-serif;
}

/*Contact Form*/

.form-bg{
  width: 450px;
  margin-left: 100px;
  padding: 15px;
  background: #2c3e50;
  color: #fff;
  border-radius: 4px;
}

.form-group{
	font-family: sans-serif;
	margin-bottom: 25px;
}

input[type="radio"]{
	margin: 2px 15px 10px 40px;
}

label{
	margin-bottom: 10px;
	display: block;

}

form .error {
  color:rgb(218, 107, 29);
}

